/cmake-build-debug/
/.idea/
/CMakeLists.txt
/SATLike_for_fun.2
/SATLike_for_fun.3
/SATLike_for_fun
/SATLike3.xxxvari
/SATLike3.xxx
/SATLike3.61
/SATLike3.7.8
/SATLike3.7.7
/SATLike3.7.6
/SATLike3.7.5
/SATLike3.7.4
/SATLike3.7.3
/SATLike3.7.2
/SATLike3.7
/SATLike3.7.1
/SATLike3.6.1
/SATLike3.6
/SATLike3.5.1
/SATLike3.5
/SATLike3.3.2
/SATLike3.3.1
/SATLike3.3
/SATLike3.0.1
/test_satlike30.sh
/test_satlike33.sh
/test_satlike33_vari.sh
/test_satlike35.sh
/test_satlike37.sh
/test_satlike361.sh
/test_satlike375.sh
/testResult_for_SATLike3.1.3.txt
/testResult_for_SATLike3.1.4.txt
/testResult_for_SATLike3.1.5.txt
/testResult_for_SATLike3.1.7.txt
/testResult_for_SATLike3.8.txt
/testResult_for_SATLike3.9.txt
/testResult_for_SATLike3.10.txt
/testResult_for_SATLike3.11.txt
/testResult_for_SATLike3.12.txt
/testResult_for_SATLike3.13.txt
/testResult_for_SATLike3.15.txt
/testResult_for_SATLike3.16.txt
/testResult_for_SATLike3.17.txt
/testResult_for_SATLike3.18.txt
/testResult_for_SATLike3.xxx.txt
/testResult_for_SATLike_bcp.txt
/testResult_for_SATLike_pray.txt
/testResult_for_SATLike_pray1.txt
/testResult_for_SATLike_pray3.txt
/testResult_for_SATLike_pray4.txt
/testResult_for_SATLike3.0.txt
/testResult_for_SATLike_pray2.txt
/test/compare_3.0new_and_3.1.5.txt
/test/compare_3.0new_and_3.12.txt
/test/compare_3.0new_and_3.1.3.txt
/test/compare_3.0new_and__pray.1.txt
/test/compare_3.0new_and_3.13.txt
/test/compare_3.0new_and__pray5.txt
/test/compare_3.0new_and__pray1.txt
/test/compare_3.0new_and_3.9.txt
/test/compare_3.0new_and_3.19.txt
/test/compare_3.0new_and_3.15.txt
/test/compare_3.0new_and_3.17.txt
/test/compare_3.0new_and_3.11.txt
/test/compare_3.0new_and_3.8.txt
/test/compare_3.0new_and__pray.txt
/test/compare_3.0new_and_3.1.4.txt
/test/compare_3.0new_and_3.xxx.txt
/test/compare_3.0new_and_3.20.txt
/test/compare_3.0new_and_3.18.txt
/test/compare_3.0new_and_3.14.txt
/test/compare_3.0new_and__bcp.txt
/test/compare_3.0new_and_3.10.txt
/test/compare_3.0new_and__pray3.txt
/test/compare_3.0new_and__pray4.txt
/test/compare_3.0new_and_3.16.txt
/test/reserve_pms__pray3.txt
/test/reserve_pms__pray4.txt
/test/reserve_pms__pray5.txt
/test/segment_fault.py
/test/statistics.py
/test/testResult_for_SATLike3.1.3.txt
/test/testResult_for_SATLike3.1.4.txt
/test/testResult_for_SATLike3.1.5.txt
/test/testResult_for_SATLike3.1.7.txt
/test/testResult_for_SATLike3.8.txt
/test/testResult_for_SATLike3.9.txt
/test/testResult_for_SATLike3.10.txt
/test/testResult_for_SATLike3.11.txt
/test/testResult_for_SATLike3.12.txt
/test/testResult_for_SATLike3.13.txt
/test/testResult_for_SATLike3.14.txt
/test/testResult_for_SATLike3.15.txt
/test/testResult_for_SATLike3.16.txt
/test/testResult_for_SATLike3.17.txt
/test/testResult_for_SATLike3.18.txt
/test/testResult_for_SATLike3.19.txt
/test/testResult_for_SATLike3.20.txt
/test/testResult_for_SATLike3.xxx.txt
/test/testResult_for_SATLike_bcp.txt
/test/testResult_for_SATLike_pray.txt
/test/testResult_for_SATLike_pray1.txt
/test/testResult_for_SATLike_pray3.txt
/test/testResult_for_SATLike_pray3_cleaned.txt
/test/testResult_for_SATLike_pray4.txt
/test/testResult_for_SATLike_pray4_cleaned.txt
